@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

*{
    font-family: cursive;
    text-align: center;

}

body {
    
        width: 90%;
        
}

header {
    width: 80%;
    margin: 70px ;
        text-align: center;
    padding: 25px;
    background-color: rgba(246, 199, 255, 0.801);
    border-radius: 25px;
  }
  #photo-template{
      display: none;
  }
  h1 {
    font-size: xx-large;
  }
  

  section {
    width: 40%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    float: left;
    background-color: rgba(246, 199, 255, 0.801);
    border-radius: 20px;
    margin: 50px;
  }
  
  select {
    margin: 25px;
    width: 25%;
    padding: 12.5px;
    border-radius: 10%;
  }
  
  footer {
    clear: both;
    text-align: center;
  }

  section h2 {
    margin-bottom: 15px;
    font-size: small;
  }
  section img {
    width: 50%;
    height: 50%;
    margin-left: 30%;
  }
  
  section p {
    vertical-align: bottom;
    font-size: small;
  }