#photo-template {
  display: none;
}



div img{
  width: 325px;
  height: 200px;
  
}
select{
  padding: 10px 20px;
  font-size: 60%;
  background-color: #fdfdff;
  color: #77757c;
  border-style: none;
  border-radius: 4px;

}
#Page1{
  padding: 10px 16px;
  background-color: #a8a8aa;
  border-style: none;
  color: #000000;
  border-radius: 4px;
}
#Page2{
  padding: 10px 16px;
  background-color: #a8a8aa;
  border-style: none;
  color: #000000;
  border-radius: 4px;
}





