section {
    width: 40%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    float: left;
    background-color: rgba(246, 199, 255, 0.801);
    border-radius: 20px;
    margin: 50px;
  }
  
  select {
    margin: 25px;
    width: 25%;
    padding: 12.5px;
    border-radius: 10%;
  }
  
  footer {
    clear: both;
    text-align: center;
  }